.logo {
    .blue {
        color: #fff;
        padding: 5px 10px;
        background-color: blue;
        border-radius: var(--borderRadius) 0px 0px var(--borderRadius);
    }

    .yellow {
        color: #000;
        padding: 5px 10px;
        background-color: yellow;
        border-radius: 0px var(--borderRadius) var(--borderRadius) 0px;
    }
}