.header {
    padding: 20px;

    a {
        color: var(--color);
        display: block;
    }

    .box {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        justify-content: space-between;
    }

    .offer {
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        max-width: 800px;
        align-items: center;
        justify-content: center;
    }
}

.thema {
    cursor: pointer;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: var(--borderRadius);
}