.navLinks {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
        padding: 5px 20px;
        text-align: center;
        background: #c685bb;
        border-radius: var(--borderRadius);
    }

    .active{
        background: #c03fab;
    }
}